<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Tracker</title>
    <link rel="stylesheet" href="/css/style.css">

    
    <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
</head>
<body>
        <!-- Navbar -->
        <nav class="navbar">
        <div class="logo">
            <img src="./logo.png" width="70px">
        </div>

        <div class="nav-items">

            <a href="/">HOME</a>
            <a href="/">LOCATION</a>
            <a href="/ABOUT">ABOUT</a>
            <a href="/CONTACT">CONTACT</a>

        </div>
        </nav>

        <!-- About -->

        <div class="about">
            <img src="/logo.png" width="200px">


            <div class="about-text">
                <h1>ABOUT</h1>
                <p>This is a Full Stack Web App which can locate your most accurate location,
                    this app refresh your location in every 5 second,also you can see other user's location
                    in realtime.
                </p>
                <p>
                    "Stay connected with friends and family with our innovative location-sharing web app! 
                    Easily share your location with others and view their locations in real-time on a interactive map. 
                    Whether you're meeting up with friends, tracking a family member's commute, or simply wanting to know where your loved ones are, 
                    this app makes it easy and convenient."
                </p>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <p>All rights reserved ©Copyright 2024 || Rakibul Islam </p>
        </footer>
    
</body>
</html>