<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Tracker</title>
    <link rel="stylesheet" href="/css/style.css">

    
    <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 
</head>
<body>
        <!-- Navbar -->
        <nav class="navbar">
        <div class="logo">
            <img src="./logo.png" width="70px">
        </div>

        <div class="nav-items">

            <a href="/">HOME</a>
            <a href="/">LOCATION</a>
            <a href="/ABOUT">ABOUT</a>
            <a href="/CONTACT">CONTACT</a>

        </div>
        </nav>

    <!-- Hero Section -->

    <section class="hero" >

        <div class="identity">
            <p>WELCOME TO MY WORLD</p>
            <h1>Hi,I'm <span>RAKIBUL ISLAM MONDAL</span></h1>
            <p><span>A</span> Full Stack Web Developer</p>

            <div class="connect">
                <div class="social">
                    <a href="https://www.linkedin.com/in/rakibul-islam-mondal-4350b8287/">
                        <img src="/linkedin-brands-solid.svg" width="30px" >
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.instagram.com/sky.walk3r__/">
                        <img src="/instagram-brands-solid.svg" width="30px" >
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/profile.php?id=100076122900924">
                        <img src="/facebook-brands-solid.svg" width="30px" >
                    </a>
                </div>
            </div>
            
        </div>

        <div class="image-section">
            <img class="image" src="/rakibul.jpg" >
        </div>


    </section>



        <!-- Footer -->
        <footer>
            <p>All rights reserved ©Copyright 2024 || Rakibul Islam </p>
        </footer>
    
</body>
</html>